@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

input:focus {
  background-color: #fafafa;
}

input[type=text],
input[type=number] {
  width: 50%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type=text]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  margin: 0;
  align-items: flex-start;
}

.top {
  align-self: flex-start;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-heading {
  font-size: 35px;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.scores-heading {
  font-size: 27px;
}

.scores-top {
  margin: 2rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

.refresh-btn {
  padding: 10px 16px;
  text-align: center;
  border: 2px solid dodgerblue;
  border-radius: 8px;
  transition: 0.3s;
  width: 100px;
  background-color: transparent;
}

.refresh-btn:hover {
  box-shadow: 0 0 8px 2px #1e8fff70;
  cursor: pointer;
}

.scores-table {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.scores-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.scores-form-heading {
  font-size: 27px;
}

.scores-table-data {
  margin: 2rem 3rem;
  width: 75%;
  background-color: #ebebeb7a;
}

.message {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

form > label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#submit-new-score {
  width: 100px;
  margin-top: 15px;
  font-size: 15px;
  padding: 8px 26px;
  text-align: center;
  border: 2px solid dodgerblue;
  border-radius: 8px;
  transition: 0.3s;
  background-color: transparent;
}

.score-inner {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 0.3rem;
  justify-content: space-around;
  margin: 0;
}

.score-inner:hover {
  border: 2px solid #1e8fff;
  box-shadow: 0 0 8px 2px #1e8fff70;
}

.score-inner:nth-child(even) {
  background-color: #1e8fff88;
}

.score-inner:nth-child(odd) {
  background-color: #ebebeb7a;
}

#submit-new-score:hover {
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
}
